<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <title>Spring Boot</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" th:href="@{ /assets/favicon.ico }" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link th:href="@{ /css/styles.css }" rel="stylesheet" />
    </head>
    <body>
        <div class="container-fluid">
            <div class="my-2 p-4 bg-secondary text-white text-center rounded">
                <h1>회원 가입 페이지</h1>
            </div>
            <div class="my-2">
                <form method="post">
                    <div class="my-2">
                        <input type="text" id="username" name="username"
                            class="form-control" placeholder="로그인 아이디" required autofocus />
                    </div>
                    <div class="my-2 d-none" id="ok">
                        <p class="text-success">사용할 수 있는 아이디</p>
                    </div>
                    <div class="my-2 d-none" id="nok">
                        <p class="text-danger">사용할 수 없는 아이디</p>
                    </div>
                    <div class="my-2">
                        <input type="password" id="password" name="password"
                            class="form-control" placeholder="로그인 비밀번호" required />
                    </div>
                    <div class="my-2">
                        <input type="email" id="email" name="email"
                            class="form-control" placeholder="이메일" required />
                    </div>
                    <div class="my-2">
                        <input type="text" id="nickname" name="nickname"
                            class="form-control" placeholder="닉네임" />
                    </div>
                    <div class="my-2">
                        <input type="submit" id="btnSubmit"
                            class="form-control btn btn-success disabled" value="가입 완료" />
                    </div>
                </form>
            </div>
        </div>
        
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script th:src="@{ /js/scripts.js }"></script>
        <!-- axios-http JS -->
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <script th:src="@{ /js/member.js }"></script>
    </body>
</html>