<!DOCTYPE html>
<html xmlns:th= "http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/layout}">

	<div layout:fragment="content">
        <div class="card my-2">
            <div class="card-header">
                <h2>포스트 상세 페이지</h2>
            </div>
            <div class="card-body">
                <form>
                    <div class="my-2">
                        <label for="id" class="form-label">포스트 번호</label>
                        <input id="id" class="form-control" name="id" 
                        th:value="${post.id}" readonly />
                    </div>
                    <div class="my-2">
                        <label for="title" class="form-label">포스트 제목</label>
                        <input id="title" class="form-control" name="title" 
                        th:value="${post.title}" readonly />
                    </div>
                    <div class="my-2">
                        <label for="content" class="form-label">포스트 내용</label>
                        <textarea id="content" class="form-control" name="content"
                        th:text="${post.content}" readonly></textarea>
                    </div>
                    <div class="my-2">
                        <label for="author" class="form-label">작성자</label>
                        <input id="author" class="form-control" 
                        th:value="${post.author}" readonly />
                    </div>
                    <div class="my-2">
                        <label for="createdTime" class="form-label">작성 시간</label>
                        <input id="createdTime" class="form-control" 
                        th:value="${ #temporals.format(post.createdTime, 'yyyy-MM-dd HH:mm:ss')}" readonly />
                    </div>
                    <div class="my-2">
                        <label for="modifiedTime" class="form-label">수정 시간</label>
                        <input id="modifiedTime" class="form-control"
                        th:value="${ #temporals.format(post.modifiedTime, 'yyyy-MM-dd HH:mm:ss')}" readonly />
                    </div>
                </form>
                <div class="my-2">
                    <a class="btn btn-primary"
                        th:href="@{ /post/modify?id={id} (id=${post.id}) }">수정하기</a>
                </div>
            </div>
        </div>
        <!-- 댓글 작성 -->
        <div class="card my-4">
            <div class="card-header">
                <div>
                    <input type="text" class="form-control" id="writer" placeholder="작성자">
                </div>
            </div>
            <div class="card-body row">
                <div class="col-10">
                    <textarea class="form-control" id="replyText" placeholder="댓글 작성"></textarea>
                </div>
                <div class="col-2">
                    <button class="btn btn-outline-secondary" id="btnReplyRegister">등록</button>
                </div>
            </div>
        </div>
        <!-- 댓글 리스트 -->
        <hr/>
        <div id="replies">
            
        </div>
    </div> <!-- end.content -->
    
    <th:block layout:fragment="script">
        <!-- Ajax를 사용하기 위한 axios자바스크립트 라이브러리 추가 -->
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <!-- 댓글 관련 자바스크립트 함수/코드들을 작성한 스크립트 파일 -->
        <script th:src="@{ /js/reply.js }"></script>
    </th:block>

</html>