<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.spring02.mapper.UserMapper">
    
    <!-- List<User> selectOrderByIdDesc(); -->
    <select id="selectOrderByIdDesc" resultType="com.example.spring02.domain.User">
        select * from USERS order by ID desc
    </select>
    
    <!-- int insert(UserCreateDto dto); -->
    <insert id="insert">
        insert into USERS (USERNAME, PASSWORD, EMAIL)
        values (#{username}, #{password}, #{email})
    </insert>
    
    <!-- User selectById(Integer id); -->
    <select id="selectById" resultType="com.example.spring02.domain.User">
        select * from USERS where ID= #{id}
    </select>
    
    <!-- int updatePwAndEmailById(UserUpdateDto dto); -->
    <update id="updatePwAndEmailById">
        update USERS set PASSWORD= #{password}, EMAIL= #{email}
        where ID= #{id}
    </update>
    
    <!-- int deleteById(Integer id); -->
    <delete id="deleteById">
        delete from USERS where ID= #{id}
    </delete>
    
</mapper>